@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background: #ffffff;
  color: #0f1419;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
